:root {
  margin: 0;
  --lightpurp: 255, 243, 253;
  --medpurp: 168, 79, 150;
  --darkpurp: 58, 12, 49;


}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: rgb(var(--lightpurp))
}