
.header {
    height: 60px;
    width: 100%;
    background-color: rgb(var(--lightpurp));
    display: flex;
    flex-direction: row;
}

.header h1 {
    margin: 0;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.right {
    align-items: center;
}

