
.banner {
  background-color: rgb(var(--lightpurp));
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.detectedObject {
  margin-bottom: 20px;
}

.widget {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Home.module.css */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: auto;
}

.detectedObject {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.detectedObject:hover {
  transform: scale(1.05);
}

.detectedObject img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.detectedObject p {
  margin: 0;
  color: #333;
}

.widget {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.button {
  background-color: rgb(var(--darkpurp));
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.button:hover{
  background-color: rgb(var(--medpurp));
}
